{% extends 'index.html' %}
{% block page-content %}
{% load static %}
<div class="headTitle">直播一键关停</div>
<div class="panel panel-default">
    <div class="panel-heading">直播关停查看日志 <span class="back"><i class="glyphicon glyphicon-share-alt"> </i>&nbsp;返回</span></div>
    <div class="panel-body">
        <div class="query row">
            <div class="form-group">
                {% csrf_token %}
                <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label">操作时间:</label>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <input type="text" class="form-control" value="" id="operationTime">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7"></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 querySubmit">
                    <button  class="btn-primary btn btn-sm" type="submit" id="submitprogramlog" name=""
                            onclick="sumbitQuery()">查询
                    </button>
                </div>
            </div>
        </div>
        <table id="dataTableList"
               class="table table-striped  table-hover "
               style="word-break:break-all;">
            <thead>
            <tr>
                <th>频道名称</th>
                <th class="hidden">id</th>
                <th>操作内容</th>
                <th>操作时间</th>
            </tr>
            </thead>
            <tbody>
            {% for ds in program_logs %}
            <tr>
                <td class="center">{{ ds.program.program_name }}</td>
                <td class="hidden">{{ ds.id }}</td>
                <td class="center">{{ ds.content }}</td>
                <td class="center">{{ ds.update_time|date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'js/program/program_logs.js' %}"></script>

{% endblock %}