{% extends 'index.html' %}
{% block page-content %}
    {% load static %}
    <div class="headTitle">EPG一键关停</div>
    <div class="panel panel-default">
        <style>

        </style>
        <div class="epgContent">
            <div class="version">
                <input class="gv active" value="5期以前版本" type="button">
                <input class="gv" value="6-8期版本" type="button">
                <input class="gv" value="9期以上版本" type="button">
            </div>
            <div class="versionTip"><span></span>当前状态:上线</div>
            <div class="epgCard">

                <button class="btnClose" onclick="modeConfirm({{ status }})">
                    EPG一键{% if status == 1 %}<span>开启</span>{% elif status == 2 %}<span>关停</span>{% endif %}
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/epg/epg.js' %}"></script>
{% endblock %}