{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <title>湖南电信天翼高清一键关停</title>
    <link rel="icon" href="{% static '/image/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/common/initialize.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap-select-1.12.4/css/bootstrap-select.css' %}">
    <script src="{% static 'bootstrap-select-1.12.4/js/bootstrap-select.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}">
    <script src="{% static 'bootstrap-daterangepicker/moment.js' %}"></script>
    <script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>


    <link rel="stylesheet" href="{% static 'dataTables/DataTables-1.10.15/1.10.15/css/dataTables.bootstrap.css' %}">
    <script type="text/javascript"
            src="{% static 'dataTables/DataTables-1.10.15/1.10.15/js/dataTables.bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/buttonsDataTables/buttons.dataTables.css' %}">
    <script src="{% static 'dataTables/buttonsDataTables/dataTables.buttons.js' %}"></script>
    <script src="{% static 'dataTables/buttonsDataTables/buttons.colVis.js' %}"></script>

    <link rel="stylesheet" href="{% static 'xcConfirm/css/xcConfirm.css' %}">
    <script src="{% static 'xcConfirm/js/xcConfirm.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/load.css' %}">
    <script>

    </script>
    <style>

    </style>
<body>
<div class="container-box">
    <div class="nav">
        <div class="navBar">
            <h1>湖南电信天翼高清一键关停</h1>
            <div class="itemTabContent">
                <ul>
                    <li>
                        <a href="/process_verify">审核码设置</a>
                    </li>
                    <li>
                        <a href="/epg">EPG关停</a>
                    </li>
                    <li>
                        <a href="/cdn/0/0/">区域CDN关停</a>
                    </li>
                    <li>
                        <a href="/program/0/0/0/0/0">直播关停</a>
                    </li>
                    <li>
                        <a href="{% url 'recommend_8' %}">推荐页关停</a>
                    </li>
                </ul>
            </div>
            {#            <ul class="loginMenu">#}
            {#                <li><i class="glyphicon glyphicon-indent-right"></i></li>#}
            {#            </ul>#}
            <ul class="loginUser">
                <li class="user dropdown">
                    <a id="login_user" class="dropdown-toggle a-white" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i> <span>{{ user }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-user dropdown-menu-right" aria-labelledby="login_user">
                        <li class="editUser">
                            <a onclick="openModal(this)"><i class="glyphicon glyphicon-wrench"></i> 修改密码</a>
                        </li>
                        <li class="help" onmouseover="helpModal(this)" onmouseleave="hideHelp(this)">
                            <div class="helpDoc">
                                杨
                            </div>
                            <a><i class="glyphicon  glyphicon-question-sign"></i> 帮助</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                        </li>
                    </ul>
                </li>
                <input type="hidden" id="userLevel" value={{ user.is_superuser }}>
                {#                <li class="exit"><a href="/logout"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a> </li>#}
            </ul>


        </div>
    </div>
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUser_modal_label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="editUser_modal_label">修改密码</h4>
                </div>
                <form class="form-horizontal" id="editUserForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>原始密码</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password"
                                       placeholder="请输入原始密码.." name="oldPassword" id="oldPassword"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>新密码</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password"
                                       placeholder="请输入新密码.." name="newPassword" id="newPassword"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right"
                                   for="form-field-4"><strong>确认密码</strong></label>
                            <div class="col-sm-6">
                                <input class="form-control" type="password"
                                       placeholder="请再次输入密码..." name="repeatPassword" id="repeatPassword"/>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="editPassSaveFunc()" id="editPassSave" class="btn btn-primary">确认
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block page-content %}
    {% endblock %}
    <div class="footer">©&nbsp;中国电信湖南公司客户支撑中心2017-2018</div>
</div>
<div class="load-container load">
    <div class="loader">Loading...</div>
    <div class="title">数据加载中。。。</div>
</div>

</body>
</html>
<script>
    $(function () {
        var userLevel = $("#userLevel").val();
        if (userLevel == "True") {
            $(".itemTabContent").find("li").eq(0).hide();
        } else {
            $(".btnClose").attr("disabled", true);
            $(".btnOpen").attr("disabled", true);
        }
    });

    function openModal() {
        $("#editUser").modal("show")
    }

    function helpModal(op) {
        if ($(op).find(".helpDoc").text().length > 0) {

            $(op).find(".helpDoc").fadeIn();
            $(op).find("a").addClass("to")
        }

    }

    function hideHelp(op) {
        $(op).find(".helpDoc").fadeOut();
        $(op).find("a").removeClass("to")
    }

    $(document).keyup(function (event) {
        if (event.keyCode == 13 && $("#editUser").is(":visible")) {
            if ($("#editPassSave") != undefined) {
                $("#editPassSave").trigger("click")
            }
        }
    });

    function editPassSaveFunc() {
        $.ajax({
            url: "{% url 'changePassword' %}",
            type: "POST",
            data: {
                oldPassword: $("#oldPassword").val(),
                repeatPassword: $("#repeatPassword").val(),
                newPassword: $("#newPassword").val(),
                csrfmiddlewaretoken: "{{ csrf_token  }}"
            },
            dataType: 'JSON',
            success: function (resp) {
                if (resp['code'] == 200) {
                    var sum = 5;
                    var timer = null;
                    timer = setInterval(function () {
                        var dom = 'wxc' + parseInt(sum + 1);
                        $("#" + dom).remove();
                        if (sum < 0) {
                            location.reload()
                        } else {
                            window.wxc.xcConfirm(resp.msg + sum + 's', window.wxc.xcConfirm.typeEnum.success, {
                                onOk: function (v) {
                                    location.reload()
                                }
                            }, 'wxc' + sum);
                        }
                        sum--
                    }, 1000);
                } else {
                    window.wxc.xcConfirm(resp.msg, window.wxc.xcConfirm.typeEnum.error);
                }
            },
            "error": function (resp) {
                window.wxc.xcConfirm(resp.msg, window.wxc.xcConfirm.typeEnum.error);
            }

        })
    }
</script>