{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>湖南电信天翼高清一键关停</title>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/common/initialize.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-select-1.12.4/css/bootstrap-select.css' %}">
    <script src="{% static 'bootstrap-select-1.12.4/js/bootstrap-select.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/DataTables-1.10.15/1.10.15/css/dataTables.bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'dataTables/DataTables-1.10.15/1.10.15/js/dataTables.bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/buttonsDataTables/buttons.dataTables.css' %}">
    <script src="{% static 'dataTables/buttonsDataTables/dataTables.buttons.js' %}"></script>
    <script src="{% static 'dataTables/buttonsDataTables/buttons.colVis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'xcConfirm/css/xcConfirm.css' %}">
    <script src="{% static 'xcConfirm/js/xcConfirm.js' %}"></script>
</head>
<body>
    <div class="container-box">
        <div class="nav">
            <div class="navBar">
                <h1>湖南电信天翼高清一键关停</h1>
                <ul class="itemTabContent">
                    <li  >
                        <a href="/epg/0/0/0/">EPG关停</a>
                    </li>
                    <li >
                        <a href="/cdn/0/0/0/">区域CDN关停</a>
                    </li>
                    <li>
                        <a href="/index">直播关停</a>
                    </li>
                     <li style="display: none">
                        <a href="/auditingFlow">流程审核</a>
                    </li>
                </ul>
                <ul class="loginUser">
                    <li class="user"><i class="glyphicon glyphicon-user"></i> <span>{{ user }}</span></li>
                    <li class="exit"><a href="/logout"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a> </li>
                </ul>
            </div>
        </div>
        {% block page-content %}
        {% endblock %}
        <div class="footer">©&nbsp;中国电信湖南公司客户支撑中心2017-2018</div>
    </div>

</body>
</html>
