{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>湖南电信天翼高清一键关停</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/initialize.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-select-1.12.4/css/bootstrap-select.css' %}">
    <script src="{% static 'bootstrap-select-1.12.4/js/bootstrap-select.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/DataTables-1.10.15/1.10.15/css/dataTables.bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'dataTables/DataTables-1.10.15/1.10.15/js/dataTables.bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/buttonsDataTables/buttons.dataTables.css' %}">
    <script src="{% static 'dataTables/buttonsDataTables/dataTables.buttons.js' %}"></script>
    <script src="{% static 'dataTables/buttonsDataTables/buttons.colVis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'xcConfirm/css/xcConfirm.css' %}">
    <script src="{% static 'xcConfirm/js/xcConfirm.js' %}"></script>
</head>
<body>
    <div class="container-box login">
        <h1 class="login-title">湖南电信天翼高清一键关停</h1>
        <div class="login-body">
            <div class="loginForm">
               <form action="/login" method="post" onsubmit="return submitCheck()">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="请输入用户名" class="form-control"
                               name="username" id="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="请输入密码" class="form-control"
                               name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary  btn-block">登录</button>
               </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/login/login.js' %}"></script>
</body>
</html>