{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>湖南电信天翼高清一键关停</title>
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/common/initialize.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-select-1.12.4/css/bootstrap-select.css' %}">
    <script src="{% static 'bootstrap-select-1.12.4/js/bootstrap-select.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/DataTables-1.10.15/1.10.15/css/dataTables.bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'dataTables/DataTables-1.10.15/1.10.15/js/dataTables.bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dataTables/buttonsDataTables/buttons.dataTables.css' %}">
    <script src="{% static 'dataTables/buttonsDataTables/dataTables.buttons.js' %}"></script>
    <script src="{% static 'dataTables/buttonsDataTables/buttons.colVis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'xcConfirm/css/xcConfirm.css' %}">
    <script src="{% static 'xcConfirm/js/xcConfirm.js' %}"></script>
</head>
<body>
    <div class="container-box login">
        <h1 class="login-title">湖南电信天翼高清一键关停</h1>
        <div class="login-body">
            <div class="loginForm">
               <form name="login">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" placeholder="请输入用户名" class="form-control"
                               name="username" id="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="请输入密码" class="form-control"
                               name="password" id="password">
                    </div>
                    <div class="form-group row">
                         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input class="form-control" placeholder="验证码" name="rand" type="text" value="">
                         </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                             <img id="verfiyCodeImg" title="点击刷新" onclick="refershVerifyCode(this)" style="cursor: pointer; width:90px;height: 30px;line-height: 30px">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary  btn-block" onclick="login(this.form)">登录</button>
               </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/login/login.js' %}"></script>
</body>
</html>