{% extends 'index.html' %}
{% block page-content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recomend_9.css' %}">
    <div class="toolbar">
        <div class="toLeft"><i class="glyphicon glyphicon-chevron-left"></i></div>
        <div class="titleList"><ul id="toolbarList" class="toolbarList"></ul></div>
        <div class="toRight"><i class="glyphicon glyphicon-chevron-right"></i></div>
    </div>
    <div class="header" id="header"></div>
    <div id="cardCxt" class="cardCxt"></div>
    <script src="{% static 'js/recomend/recomend9.js' %}"></script>
{% endblock %}