{% extends 'index.html' %}
{% block page-content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recomend_8.css' %}">
    <div class="recomend">
        <div class="recomend-heading">
            <span id="title">热门推荐</span>
            {% csrf_token %}
            <button class="btn label-primary btn-xs" id="recomBtn" onclick="recomendTap(this,'recom',10)"
                    data-toggle="tooltip"
                    data-placement="left" title="Tooltip on left"><i class="glyphicon glyphicon-fire"></i></button>
            <button class="btn label-primary btn-xs" id="liveBtn" onclick="recomendTap(this,'live',7)"
                    data-toggle="tooltip"
                    data-placement="left" title="Tooltip on left"><i class="glyphicon glyphicon-play"></i></button>
            <button class="btn label-primary btn-xs" id="rankBtn" onclick="recomendTap(this,'rank',4)"
                    data-toggle="tooltip"
                    data-placement="left" title="Tooltip on left"><i class="glyphicon glyphicon-signal"></i></button>
            <button class="btn label-primary btn-xs" id="hotappBtn" onclick="recomendTap(this,'hotapp',12)"
                    data-toggle="tooltip"
                    data-placement="left" title="Tooltip on left"><i class="glyphicon glyphicon-cd"></i></button>
            <span class="version"><a href="/recommend_9">点击进入9期</a></span>
        </div>
        <div class="panel panel-recomend">
            <div class="recomend-body"></div>
        </div>
    </div>
    <script>
      var token='{{ csrf_token }}'
    </script>
    <script src="{% static 'js/recomend/recomend.js' %}"></script>
{% endblock %}
